.absoluteLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30vw;
}
.imageLogin{
    width: 100%;
    height: 1000px;
}
.h2-login{
    color: black;
    margin: 2.5vw;
    font-size: 2vw;
    font-weight: bold;
}
.form-login{
    width: 60vw;
    border-radius: 10px;
    padding: 4vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(6px);
    box-shadow: -7px 8px 20px 0px black;
}
.label-login{
    width: 100%;
    color: white;
    font-weight: bold;
    margin: 2vw;
}
.input-login{
    width: 100%;
    color: white;
    background: none;
    backdrop-filter: blur(5px);
    border: 1px solid white;
    box-shadow: 0 13px 21px rgba(55, 53, 53, 0.5);
}
.button-login{
    width: 100%;
    margin: 6vw 0 2vw;
    background-color: #3282B8;
    border: none;
    border-radius: 5px;
    color: white;
    height: 4vh;
}
.centerLogin{
    display: flex;
    justify-content: center;
    background: linear-gradient(350deg, rgba(27,38,44,1) 9%, rgba(121,120,121,0.9248074229691877) 52%, rgba(27,38,44,1) 83%);
    min-height: 80vh;
    align-items: flex-start;
}

@media (min-width: 481px){ 

    .form-login{
        max-width: 400px;
    }
    .absoluteLogin{
        margin-top: 12vw;
    }
}

  /*media queries pc*/

  @media (min-width: 1024px){  

    .form-login{
        padding: 0 2vw;
    }
    .button-login{
        width: 100%;
        margin: 2vw 0 2vw;
        height: 45px;
    }
    .label-login{
        margin: 1vw 2vw;
    }
    .absoluteLogin{
        margin-top: 7vw;
    }
  }